.toc ul a {
    padding-top: 0px !important;
    padding-bottom: 12px !important;
}

.project {
    height: 90px;
}

.footer {
    display: none !important;
}

.section {
    padding-top: 16px !important;
    padding-bottom: 10px !important;
}

code {
    border: #c3c3c3 solid 1px;
    border-radius: 3px;
    padding: 2px 4px !important;
    background-color: #f6f6f6 !important;
}

pre {
    background: none !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.resicon {
    float: left;
    margin-right: 8px;
}

.doclink img {
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    width: 28px;
}

.anchor .doclink {
    display: none !important;
}

.counter {
    color: white;
    font-weight: bold;
    background-color: #2ec500;
    border: #2ec500 solid 5px;
    border-radius: 7px;
    margin: 0px 3px !important;
}

.tcl-column {
    float: left;
    height: auto;
}

.column image, video {
    max-width: 100%;
}

.tcl-left {
    padding-right: 10px;
}

.tcl-right {
    float: right;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/* Clear floats after the columns */

.tcl-row:after {
    content: "";
    display: table;
    clear: both;
}

.video_example {
    display: inline-block;
    background: rgb(195, 243, 206);
    width: 430px;
    height: 330px;
    margin: 5px;
    margin-bottom: 20px;
}

.video_example_player {
    width: 430px;
}

.video_example_label {
    padding: 3px 5px;
    height: 145px;
    overflow: hidden;
    bottom: 10px;
}

.tabletitle {
    color: white;
    position: relative;
    margin-left: 15px;
    margin-bottom: -65px;
    z-index: 2000 !important;
    position: flex;
}